@import './dialog-content-only.css';

.dialog-content h2 {
	margin: 0 0 0.75rem;
	font-size: 1.5rem;
}

.dialog-content p {
	margin: 0 0 1rem;
	color: #4d4d4d;
	line-height: 1.6;
}

.dialog-content .dialog-buttons-group {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.dialog-content .dialog-button {
	appearance: none;
	border: none;
	padding: 0.85rem 1.25rem;
	border-radius: 999px;
	font-weight: 700;
	cursor: pointer;
	transition: background 0.2s ease;
}

.dialog-content .dialog-button {
    border: 1px solid var(--secondary-500);
    color: var(--secondary-600);
	background: transparent;
}
.dialog-content .dialog-button:hover {
	background: var(--secondary-300);
}

.dialog-content .dialog-button.dialog-button-primary {
	background: var(--primary);
	color: #fff;
}

.dialog-content .dialog-button.dialog-button-primary:hover {
	background: var(--primary-hover);
}